*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    background-color: var(--cor-escura)
}
:root{
    --cor-clara: #8c998b;
    --cor-escura: black;
}
header{
    max-width: 1010px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid var(--cor-clara) ;
    align-items: center;
}
.header__img{
    padding-left: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.header__img img:first-child{
    border-right: 1px solid var(--cor-clara);
    padding-right: 7px;
}
.header_social_link{
    max-width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-around;

}
.header_social_link a{
    color: var(--cor-clara);
}
.container{
    margin: 90px auto;
    max-width: 1010px;
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--cor-clara);

}
.container__texto{
    display: flex;
    flex-direction: column;
}
.container__texto_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.btn{
    border: 1px solid var(--cor-clara);
    padding: 10px 10px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
.copiar_btn{
    display: none;
}
.btn:hover{
    background-color: var(--cor-clara);
    color: var(--cor-escura)
}
#texto {
    background: transparent;
    border: 1px solid var(--cor-clara);
    color: white;
    height: 250px;
    max-width: 400px;
    font-size: 0.875em;
}
.container__aviso{
    font-size: 13px;
    color: #9b0808b0;
    padding: 10px;
    font-weight: 100;
}
.container__resultado{
    width: 100%;
    border: 1px solid var(--cor-clara);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.footer_social{
    max-width: 1010px;
    color: var(--cor-clara);
    margin: 0 auto;
    text-align: center;
    border: 1px solid var(--cor-clara);
}
.footer_social p{
    margin: 10px 10px;
    font-size: 14px;
}

@media (max-width:900px) {
    .container{
        flex-direction: column;
    }
    #texto{
        max-width: 100%;
    }
    .container__resultado{
        padding: 10px;
    }
    .container__texto_btn{
        justify-content: space-around;
    }
}